---
layout: default
---
<main class="what-even-is-a-container-for">
  <section class="this-is-where-I-say-hello">
    <div class="constrain-me-please">
      <p>Sometimes things make you wonder. They ask you how it could ever be this way or that way. But then you stop wondering. You just take it in.</p>

      <p>That’s when it stops.</p>

      <p>Now you can grow. It can grow to the farthest reaches of it’s boundaries, without end, feeling, reaching, touching, sensing out the things it wants. No way to be left or right, just a a path to be meticulously savvy. This is the way of most colorful items, but not this one. This one will perish unless gazed upon for too long. So don’t let it. Don’t even...</p>
    </div>
  </section>
  <section class="all-of-my-writing-stuffs-go-here">
    <div class="protection-against-circle-plague">
      <div class="constrain-me-please">
        <div class="offset">
          <h2>Writings</h2>
          <p class="subhead">Design, psychology, nurturing companies, and other such madness, as it delights oneself.</p>
        </div>
      </div>

      <!-- list all the posts here, for fun -->
      <ul class="omg-so-many-posts">
        {% for post in site.posts %}
          {% if post.teaser != blank %}
            <li class="the-shizzzzzzz">
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-title">
                {{ post.title }}
              </a>
              <div class="a-tale-of-two-parts">
                <p class="part-one-the-date">{{ post.date || date: '%b. %Y' }}</p>
                <p class="part-two-the-CONTENT-all-hail-the-content-snippet">{{ post.teaser }}</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="part-three-waiiiiit-a-sec">Keep on reading</a>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- end the posts. Just stop it. Damn. -->
    </div>
    <div class="the-circle-zombie-plague_SAVE_USSSSSSSS"></div>
  </section>
</main>