---
layout: default
---

<main class="what-even-is-a-container-for">
  <section class="this-is-where-I-say-hello">
    <div class="constrain-me-please">
      <p>おはよう (hellllloooo!) You've stumbled (intentionally?) onto my site. I'm Paul. I love play, and making smiles happen.</p>

      <p>Day-to-day, I help fuel people who eat with purpose over at <a href="https://www.mypowersupply.com" target="_blank">Power Supply</a>, where I design + make things.</p>

      <p>I live in California 🌅💖. I help organize a design meetup called <a href="http://designershearth.com" target="_blank">Designer's Hearth</a> in the heart of Silicon Valley. My favorite part is sharing experiences betwixt other designers. We help each other grow.</p>
      <p>Sometimes, I write about the things we explore as a design community. Just recently, <a href="http://twitter.com/brim">Brittany</a> (my better half) and I wrote a guide together called <i><a href="http://portfolio.enchant.co" target="_blank">Crafting Your UX Portfolio: a weekend guide to getting it done</a></i>. If you work with screens + digital stuff, I bet you'll dig it.</p>

      <p>In the past, I helped build + grow a company called <a href="http://americanparkour.com/" target="_blank">American Parkour</a>. Our mission was (and still is) to promote, teach, and advance the discipline of parkour. I was a professional athlete, sponsored + paid to travel the world, inspiring others to move.</p>

      <p>Starting to catch the pattern here? Nutrition, fitness, health... it all runs close to my heart.</p>

      <p>I also ran a design studio called <a href="http://enchant.co">Enchant</a>, helping small businesses and startups build authentic companies through software. Nowadays, it's what Brittany and I use to explore our fun projects.</p>

      <p>You can <a href="http://twitter.com/pvm" target="_blank">find me on Twitter</a> waxing on about things I care about (like design, psychology, startup-y topics, technology, and people. I love people.) For a glimspe into things that make *me* happy, you can <a href="http://instagram.com/pvmederos" target="_blank">catch my Instagram feed here</a>.</p>
    </div>
  </section>
  <section class="all-of-my-writing-stuffs-go-here">
    <div class="protection-against-circle-plague">
      <div class="constrain-me-please">
        <div class="offset">
          <h2>Writings</h2>
          <p class="subhead">Design, psychology, nurturing companies, and other such madness, as it delights oneself.</p>
        </div>
      </div>

      <!-- list all the posts here, for fun -->
      <ul class="omg-so-many-posts">
        {% for post in site.posts %}
          {% if post.teaser != blank %}
            <li class="the-shizzzzzzz">
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-title">
                {{ post.title }}
              </a>
              <div class="a-tale-of-two-parts">
                <p class="part-one-the-date">{{ post.date || date: '%b. %Y' }}</p>
                <p class="part-two-the-CONTENT-all-hail-the-content-snippet">{{ post.teaser }}</p>
                <a href="{{ post.url | prepend: site.baseurl }}" class="part-three-waiiiiit-a-sec">Keep on reading</a>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- end the posts. Just stop it. Damn. -->
    </div>
    <div class="the-circle-zombie-plague_SAVE_USSSSSSSS overlay"></div>
  </section>
  <section class="the-illuminating-portfolio">
    <div class="constrain-me-please">
      <a href="http://paulmederos.herokuapp.com/" target="_blank" class="portfolio-button-yaaasssssss">Review my design portfolio</a>
    </div>
    <div class="star-power overlay"></div>
  </section>
</main>